@font-face {
    font-family: 'hurrican';
    src: url('../../../components/modules/fonts/Hurricane/Hurricane-Regular.eot');
    src: url('../../../components/modules/fonts/Hurricane/Hurricane-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../components/modules/fonts/Hurricane/Hurricane-Regular.woff2') format('woff2'),
        url('../../../components/modules/fonts/Hurricane/Hurricane-Regular.woff') format('woff'),
        url('../../../components/modules/fonts/Hurricane/Hurricane-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

